{% include 'admin_header.html' %}
<br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_view_surplus_req</title>
</head>
<body>
    <center>
        <h2>SURPLUS REQUEST</h2>
        <div class="row">
            {% for i in data['view'] %}
            <div class="col-md-4 mb-3">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ i['item_name'] }}</h5>
                        <p class="card-text">Price: {{ i['item_price'] }}</p>
                        <p class="card-text">Total Quantity: {{ i['quantity_details'] }}</p>
                        <p class="card-text">Shelter Name: {{ i['shelter_name'] }}</p>
                        <p class="card-text">Contact: {{ i['shelter_phone'] }}</p>
                        <p class="card-text">Ordered Quantity: {{ i['surplus_qty_details'] }}</p>
                        <p><a href="/admin_view_count?id={{i['request_id']}}" class="btn btn-warning">View Report</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</body>
</html>
<br><br><br><br><br><br><br><br>
{% include 'footer.html' %}