{% include 'admin_header.html' %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_send_reply</title>
</head>
<body>
    <center>
        <h2>Send Replay</h2>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Reply:</td>
                    <td><input type="text" name="reply" class="form-control" class="form-control"></td>
                </tr>
                <tr>
                    <th>
                        <td><input type="submit" name="send" value="send" class="btn btn-warning"></td>
                    </th>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>
<br><br><br><br><br><br><br><br>
{% include 'footer.html' %}