{% include 'public_header.html' %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_change_password</title>
</head>
<body>
    <center>
        {% if data['up'] %}
        <h2>Change Password</h2>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="password" class="form-control" value="{{data['up'][0]['password']}}"></td>
                </tr>
                <tr>
                    <th>
                        <td><input type="submit" name="update" value="change password" class="btn btn-danger"></td>
                    </th>
                </tr>
            </table>
        </form>
        {% else %}
        <h2>User Name & Password</h2>
        <table border="1" class="table table-dark table-striped">
            <tr>
                <td>User Name</td>
                <td>Password</td>
                <td>Change Password</td>
            </tr>
            {% for i in data['view'] %}
            <tr>
                <td>{{i['username']}}</td>
                <td>{{i['password']}}</td>
                <td><button class="btn btn-dark"><a href="?action=update&id={{i['login_id']}}">change password</a></button></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </center>
</body>
</html>
<br><br><br><br><br><br><br><br>
{% include 'footer.html' %}