{% include 'distributor_header.html'%}
<br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>distributor_payment</title>
</head>
<body>
    <center>
        <form action="" method="post">
            <h2>PAYMENT</h2>
            <table>
                <tr>
                    
                    <td><input type="number" name="payment" class="form-control" value={{amt}} readonly></td>
                </tr>
                
                <tr>
                   
                        <td><input type="submit" name="buy" value="Buy" class="btn btn-warning w-100"></td>
                    
                </tr>
            </table>
        </form>
    </center>
</body>
</html>
<br><br><br><br><br><br><br><br>
